<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <managers>
    
    <manager value="Game.Base.Texture.TextureManager, Game.Base" interfaceType="Game.Base.Interfaces.Model.ITextureManager, Game.Base" />
    
    <manager value="XNA.Pong.PongGameManager, XNA.Pong" interfaceType="Game.Base.Interfaces.Controller.IGameManager, Game.Base" />
    <manager value="Game.Base.CollisionManager, Game.Base" interfaceType="Game.Base.Interfaces.Controller.ICollisionManager, Game.Base" />
    
    <manager value="XNA.Pong.SpriteEntityFactory, XNA.Pong" interfaceType="Game.Base.Interfaces.ISpriteEntityFactory, Game.Base" />
    <manager value="XNA.Pong.SceneFactory, XNA.Pong" interfaceType="Game.Base.Interfaces.ISceneFactory, Game.Base" />

    <manager value="Game.Base.Managers.Scene.SceneManager, Game.Base" interfaceType="Game.Base.Managers.Scene.ISceneManager, Game.Base" />

    <manager value="Game.Base.Managers.Graphics.SpriteGraphicsManager, Game.Base" interfaceType="Game.Base.Interfaces.View.ISpriteGraphicsManager, Game.Base" />
    <manager value="Game.Base.Managers.Graphics.TextGraphicsManager, Game.Base" interfaceType="Game.Base.Interfaces.View.ITextGraphicsManager, Game.Base" />
  </managers>

  <textures>
    <textures assetName="Bubble" />
    <textures assetName="Grass" />
    <textures assetName="PlanetBeam" />
    <textures assetName="PlanetBeam2" />
    <textures assetName="Pong Title Screen" />
    <textures assetName="Pixel" />
    <textures assetName="Player1Scores" />
    <textures assetName="Player2Scores" />
  </textures>
</configuration>