<?xml version="1.0"?>
<textureConfiguration>
  <textures>
    <add name="Bubble" assetName="Bubble" />
    <add name="Grass" assetName="Grass" />
    <add name="PlanetBeam" assetName="PlanetBeam" />
    <add name="PlanetBeam2" assetName="PlanetBeam2" />
    <add name="TitleScreen" assetName="Pong Title Screen" />
  </textures>
</textureConfiguration>